@charset "UTF-8";
/*reset*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

/*INICIO*/
.contenedorMainImagenes {
  background-color: #7f7f7f;
  display: flex;
  padding: 20px 0px 20px 0px; }
  .contenedorMainImagenes .mainImagenes {
    width: 60%;
    margin: auto;
    overflow: hidden;
    border-radius: 3%;
    border: 2px rgba(91, 89, 89, 0.668) solid; }
    .contenedorMainImagenes .mainImagenes ul {
      background-color: black;
      border: 1px solid #dcd5d5;
      display: flex;
      padding: 0%;
      width: 400%;
      animation: cambio 10s infinite alternate; }
      .contenedorMainImagenes .mainImagenes ul li {
        width: 100%;
        list-style: none; }
        .contenedorMainImagenes .mainImagenes ul li img {
          width: 100%;
          height: 50rem; }

/*animacion INICIO*/
@keyframes cambio {
  0% {
    margin-left: 0; }
  20% {
    margin-left: 0; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

/*PAGINA*/
.mainPagina {
  display: flex;
  flex-direction: column; }
  .mainPagina .h1Pagina {
    font-size: 1.6rem;
    text-align: center;
    padding-top: 5rem; }
  .mainPagina .contenedorSeccionPagina {
    display: flex;
    flex-direction: column; }
    .mainPagina .contenedorSeccionPagina .sectionPagina {
      font-size: 0.9rem;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      text-align: center;
      padding: 20px 40px 20px 20px; }
  .mainPagina .sectionPagina2 {
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 20px 40px 20px 20px; }
  .mainPagina .contenedorDeImagenesPagina {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 4rem; }
    .mainPagina .contenedorDeImagenesPagina img {
      width: 22%;
      border-radius: 10%;
      border: 0.5rem solid gray; }

/*PRODUCTOS*/
.galleriContenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0rem 2rem 15rem;
  /*conjunto 1*/
  /*conjunto 2*/
  /*conjunto 3*/ }
  .galleriContenedor .conjunto1 img {
    width: 25%; }
  .galleriContenedor .conjunto1 p {
    width: 25%;
    margin-top: 9px;
    margin-bottom: 9px;
    display: flex;
    justify-content: center; }
  .galleriContenedor .conjunto2 img {
    width: 25%; }
  .galleriContenedor .conjunto2 p {
    width: 25%;
    margin-top: 9px;
    margin-bottom: 9px;
    display: flex;
    justify-content: center; }
  .galleriContenedor .conjunto3 img {
    width: 25%; }
  .galleriContenedor .conjunto3 p {
    width: 25%;
    margin-top: 9px;
    margin-bottom: 9px;
    display: flex;
    justify-content: center; }

/*NOSOTROS*/
.mainNosotros {
  margin: 3rem;
  padding-left: 2rem; }
  .mainNosotros .nuestroEmprendimiento {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem; }
  .mainNosotros .contenedordeP {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #3b3b3b; }
  .mainNosotros .contenedorNosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin-top: 10rem; }
    .mainNosotros .contenedorNosotros .contenedorNosotros {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3rem;
      margin-top: 10rem; }
    .mainNosotros .contenedorNosotros .mision .pMision {
      font-size: 2.3rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bold; }
    .mainNosotros .contenedorNosotros .mision .pMision i {
      padding-right: 2rem; }
    .mainNosotros .contenedorNosotros .vision .pVision {
      font-size: 2.3rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bold; }
    .mainNosotros .contenedorNosotros .vision .pVision i {
      padding-right: 2rem; }
    .mainNosotros .contenedorNosotros .valores .pValores {
      font-size: 2.3rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bold; }
    .mainNosotros .contenedorNosotros .valores .pValores i {
      padding-right: 2rem; }

/*QUERIS DESKTOP*/
@media (max-width: 1000px) and (min-width: 800px) {
  /*header*/
  .contenedorAccederCarrito {
    display: none; }
  .buscador {
    margin: 10px 2rem 0px 0px; }
  /*imagenes inicio*/
  .mainImagenes {
    width: 50%;
    height: 32rem; }
    .mainImagenes img {
      height: 100%;
      width: 100%; }
  /*iconos*/
  .iconos p {
    height: 4rem;
    width: 10rem;
    font-size: 10px; }
  /*texto-queris*/
  .textoCuerpo {
    font-size: 15px;
    display: flex;
    align-items: center; }
    .textoCuerpo .cuerpoP {
      font-family: 'Albert Sans', sans-serif;
      font-weight: bold;
      font-size: 0.8rem;
      margin: 6px 0px 6px 0px;
      text-align: center; }
    .textoCuerpo div a {
      color: #212020;
      font-size: 0.6rem;
      padding: 6px; }
  /*datos-queris*/
  .contenedorDeDatos {
    display: flex;
    justify-content: center;
    font-size: 10px; }
  /*tarjetas-queris*/
  .pieDePagina {
    display: flex;
    flex-direction: column; }
    .pieDePagina .textoMetodos {
      margin: 2rem;
      font-size: 0.9rem; }
  /*copy-quieris*/
  .copy {
    padding-top: 2rem;
    font-size: 7px; }
  /*QUERIS PAGINA*/
  .h1Pagina {
    font-size: 1rem; }
  .contenedorSeccionPagina .sectionPagina {
    font-size: 0.6rem; }
  .contenedorSeccionPagina .sectionPagina2 {
    font-size: 0.6rem; }
  .contenedorDeImagenesPagina {
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    margin-bottom: 4rem; }
    .contenedorDeImagenesPagina img {
      width: 19%; }
  /*QUERIS PRODUCTOS*/
  .galleriContenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0rem 2rem 15rem; }
    .galleriContenedor .conjunto1 img {
      width: 29%; }
    .galleriContenedor .conjunto1 p {
      width: 29%;
      margin-top: 9px;
      margin-bottom: 9px;
      display: flex;
      justify-content: center;
      font-size: 10px;
      margin-left: 5px; }
    .galleriContenedor .conjunto2 img {
      width: 29%; }
    .galleriContenedor .conjunto2 p {
      width: 25%;
      margin-top: 9px;
      margin-bottom: 9px;
      display: flex;
      justify-content: center;
      font-size: 10px;
      margin-left: 5px; }
    .galleriContenedor .conjunto3 img {
      width: 29%; }
    .galleriContenedor .conjunto3 p {
      width: 25%;
      margin-top: 9px;
      margin-bottom: 9px;
      display: flex;
      justify-content: center;
      font-size: 10px;
      margin-left: 5px; }
  /*QUERIS NOSOTROS*/
  .MainNosotros h1 {
    font-size: 1rem; }
  .MainNosotros .contenedordeP {
    font-size: 12px;
    text-align: center;
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #3b3b3b; }
  .MainNosotros .contenedorNosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin-top: 5rem; }
  .MainNosotros .contenedorNosotros .mision p {
    font-size: 0.8rem; }
  .MainNosotros .contenedorNosotros .mision .pMision {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; }
    .MainNosotros .contenedorNosotros .mision .pMision i {
      padding-right: 2rem; }
  .MainNosotros .contenedorNosotros .vision .vision p {
    font-size: 0.8rem; }
  .MainNosotros .contenedorNosotros .vision .pVision {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; }
    .MainNosotros .contenedorNosotros .vision .pVision i {
      padding-right: 2rem; }
  .MainNosotros .contenedorNosotros .valores .valores p {
    font-size: 0.8rem; }
  .MainNosotros .contenedorNosotros .valores .pValores {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; } }

/*MOBIL QUERIS*/
@media (max-width: 799px) and (min-width: 500px) {
  header .tituloLogo {
    width: 100%;
    display: flex;
    justify-content: center; }
    header .tituloLogo h1 {
      font-size: 1.9rem; }
  header .contenedorAccederCarrito {
    display: none; }
  header .buscador {
    display: none; }
  /*menu*/
  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .menu ul li {
      text-decoration: none;
      font-size: 0.6rem;
      display: flex;
      font-family: 'Albert Sans', sans-serif;
      font-weight: bold;
      color: black;
      margin: 0px 3px 0px 3px; }
  /*imagenes inicio*/
  .mainImagenes {
    width: 50%;
    height: 24rem; }
    .mainImagenes ul li img {
      height: 120%;
      width: 100%; }
  /*iconos*/
  .iconos p {
    height: 3rem;
    width: 7rem;
    font-size: 7px; }
  /*texto cuerpo*/
  .textoCuerpo {
    font-size: 12px;
    display: flex;
    align-items: center; }
    .textoCuerpo .cuerpoP {
      font-family: 'Albert Sans', sans-serif;
      font-weight: bold;
      font-size: 0.6rem;
      margin: 6px 0px 6px 0px;
      text-align: center; }
    .textoCuerpo div a {
      color: #212020;
      font-size: 0.5rem;
      padding: 5px; }
  /*datos*/
  .contenedorDeDatos {
    display: flex; }
    .contenedorDeDatos .contenedorDeDatos {
      font-size: 7.6px; }
      .contenedorDeDatos .contenedorDeDatos .diseñoExclusivo {
        max-width: 4rem;
        max-height: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
        .contenedorDeDatos .contenedorDeDatos .diseñoExclusivo .p1 {
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          padding-bottom: 1rem; }
      .contenedorDeDatos .contenedorDeDatos .categorias {
        max-width: 4rem;
        max-height: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
        .contenedorDeDatos .contenedorDeDatos .categorias .p3 {
          padding-bottom: 1rem; }
        .contenedorDeDatos .contenedorDeDatos .categorias a {
          padding-bottom: 1rem; }
      .contenedorDeDatos .contenedorDeDatos .contactanos {
        max-width: 4rem;
        max-height: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
        .contenedorDeDatos .contenedorDeDatos .contactanos p {
          padding-bottom: 1rem; }
        .contenedorDeDatos .contenedorDeDatos .contactanos .p4 {
          padding-bottom: 1rem; }
  /*pie de pagina*/
  .pieDePagina {
    display: flex;
    flex-direction: column; }
    .pieDePagina .textoMetodos {
      margin: 1rem;
      font-size: 0.6rem; }
    .pieDePagina .tarjetaContenedor .tarjeta1 img {
      height: 1rem;
      margin-right: 1.5rem; }
    .pieDePagina .tarjetaContenedor .tarjeta2 img {
      height: 1rem;
      margin-right: 1rem; }
    .pieDePagina .tarjetaContenedor .tarjeta3 img {
      height: 1rem;
      margin-right: 1rem; }
    .pieDePagina .tarjetaContenedor .tarjeta4 img {
      height: 1rem;
      margin-right: 1rem; }
  /*copy*/
  .copy {
    padding-top: 2rem;
    font-size: 6.4px; }
  /*EDITANDO QUERIS PARA PAGINA*/
  .mainPagina .h1Pagina {
    font-size: 0.5rem; }
  .mainPagina .contenedorSeccionPagina .sectionPagina {
    font-size: 0.4rem; }
  .mainPagina .contenedorSeccionPagina .sectionPagina2 {
    font-size: 0.4rem; }
  .mainPagina .contenedorDeImagenesPagina {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem; }
  /*EDITANDO QUERIS PARA PRODUCTOS*/
  .galleriContenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0rem 2rem 16%; }
    .galleriContenedor .conjunto1 img {
      width: 35%; }
    .galleriContenedor .conjunto1 p {
      width: 25%;
      margin-top: 9px;
      margin-bottom: 9px;
      display: flex;
      justify-content: center;
      font-size: 10px;
      margin-left: 5px; }
    .galleriContenedor .conjunto2 img {
      width: 36%; }
    .galleriContenedor .conjunto2 p {
      width: 25%;
      margin-top: 9px;
      margin-bottom: 9px;
      display: flex;
      justify-content: center;
      font-size: 10px;
      margin-left: 5px; }
    .galleriContenedor .conjunto3 img {
      width: 35%; }
    .galleriContenedor .conjunto3 p {
      width: 25%;
      margin-top: 9px;
      margin-bottom: 9px;
      display: flex;
      justify-content: center;
      font-size: 10px;
      margin-left: 5px; }
  /*EDITANDO QUERIS PARA NOSOTROS*/
  .mainNosotros h1 {
    font-size: 0.7rem;
    margin-right: 6%; }
  .mainNosotros .contenedordeP {
    font-size: 11px;
    text-align: center;
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #3b3b3b;
    margin-right: 6%; }
  .mainNosotros .contenedorNosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    margin-top: 5rem;
    margin-right: 6%; }
    .mainNosotros .contenedorNosotros .mision .pMision {
      font-size: 1rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bold; }
      .mainNosotros .contenedorNosotros .mision .pMision i {
        padding-right: 2rem; }
    .mainNosotros .contenedorNosotros .mision p {
      font-size: 0.6rem; }
    .mainNosotros .contenedorNosotros .vision .pVision {
      font-size: 1rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bold i;
        font-weight-padding-right: 2rem; }
    .mainNosotros .contenedorNosotros .vision .vision p {
      font-size: 0.6rem; }
    .mainNosotros .contenedorNosotros .valores .pValores {
      font-size: 1rem;
      font-family: 'Roboto', sans-serif;
      font-weight: bold; }
    .mainNosotros .contenedorNosotros .valores p {
      font-size: 0.6rem; } }

body {
  background-color: #c6c5c5;
  /*menu*/
  /*hover menu*/
  /*iconos*/
  /*texto*/
  /*datos*/
  /*pie de pagina*/ }
  body header {
    background-color: #686464;
    display: flex;
    justify-content: space-between; }
    body header .tituloLogo {
      background-color: #686464;
      display: flex;
      align-items: center;
      padding: 1rem;
      height: 6rem; }
      body header .tituloLogo h1 {
        color: #2a2828;
        font-size: 2rem;
        font-family: 'Oswald', sans-serif;
        font-weight: bolder;
        text-shadow: 1px 2px black;
        margin-left: 20px; }
    body header .buscador {
      background-color: #686464;
      display: flex;
      align-items: center; }
      body header .buscador input {
        border: 1px solid #2c2b2b;
        justify-content: center;
        width: 30rem;
        height: 2rem;
        font-size: 1rem; }
      body header .buscador .iconoBuscador {
        background-color: #2c2b2b;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0% 20% 20% 0%;
        cursor: pointer;
        width: 2rem;
        height: 2rem; }
    body header .contenedorAccederCarrito {
      display: flex;
      padding-right: 1rem; }
      body header .contenedorAccederCarrito .acceder {
        display: flex;
        align-items: center; }
        body header .contenedorAccederCarrito .acceder div {
          font-weight: bold;
          font-family: 'Albert Sans', sans-serif;
          font-size: 1rem; }
      body header .contenedorAccederCarrito .carrito {
        background-color: #686464;
        display: flex;
        align-items: center;
        margin-left: 1rem; }
        body header .contenedorAccederCarrito .carrito div {
          font-weight: bold;
          font-family: 'Albert Sans', sans-serif;
          font-size: 1.2rem; }
  body .menu {
    background-color: #afaeae; }
    body .menu ul {
      display: flex;
      justify-content: center; }
      body .menu ul div {
        margin: 5px 5px 5px 5px;
        padding: 6px;
        transition: 2s;
        border-radius: 5%; }
        body .menu ul div a {
          text-decoration: none; }
        body .menu ul div li {
          display: flex;
          justify-content: flex-start;
          text-decoration: none;
          font-size: 1.2rem;
          display: flex;
          font-family: 'Albert Sans', sans-serif;
          font-weight: bold;
          color: black;
          margin: 0px 3px 0px 3px; }
  body .menu div:hover {
    background-color: #c5d0ca;
    box-shadow: 0 0 10px #434242, 0 0 20px #626161, 0 0 40px #676464; }
  body .menu div a li:hover {
    color: #fffae6; }
  body .iconos {
    background-color: #9a9898;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    height: 7rem; }
    body .iconos p {
      text-align: center;
      font-size: 1.2rem;
      background-color: rgba(117, 112, 112, 0.327);
      padding: 20px;
      border-radius: 1%;
      animation-name: iconos;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      max-width: 15rem;
      max-height: 5rem; }
    body .iconos .icono1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: font-family "Oswald", sans-serif;
      font-weight: bold; }
    body .iconos .icono2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: font-family "Oswald", sans-serif;
      font-weight: bold; }
    body .iconos .icono3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: font-family "Oswald", sans-serif;
      font-weight: bold; }
    body .iconos .icono4 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: font-family "Oswald", sans-serif;
      font-weight: bold; }

@keyframes iconos {
  0% { }
  50% {
    box-shadow: 0 0 30px #f3eded, 0 0 10px #626161, 0 0 90px #676464; }
  100% { } }
  body .textoCuerpo {
    background-color: #c6c5c5;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding-left: 0.5rem;
    height: 10rem;
    padding-top: 15px; }
    body .textoCuerpo .diseño {
      font-family: 'Roboto', sans-serif; }
    body .textoCuerpo .cuerpoP {
      font-family: 'Albert Sans', sans-serif;
      font-weight: bold;
      font-size: 1rem;
      margin: 6px 0px 6px 0px; }
    body .textoCuerpo div {
      padding-top: 1rem; }
      body .textoCuerpo div a {
        background-color: #8b8686;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        border-radius: 7%;
        border: 0.2rem solid #3d3c3c;
        color: #5d5b5b;
        font-size: 1rem;
        padding: 5px;
        transition: 1s; }
  body .textoCuerpo div a:hover {
    color: bisque;
    background-color: #8e9491;
    box-shadow: 0 0 10px #453d3d, 0 0 20px #695f5f, 0 0 40px #706161; }
  body .datos {
    background-color: #848080; }
    body .datos .contenedorDeDatos {
      padding-top: 1rem;
      padding-bottom: 1rem;
      height: 12rem;
      background-color: #998d8d;
      display: flex;
      justify-content: space-evenly; }
      body .datos .contenedorDeDatos .diseñoExclusivo {
        max-width: 14rem;
        max-height: 14rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
        body .datos .contenedorDeDatos .diseñoExclusivo .p1 {
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          padding-bottom: 2rem;
          color: #686464; }
        body .datos .contenedorDeDatos .diseñoExclusivo .p2 {
          font-weight: bold;
          font-family: 'Albert Sans', sans-serif; }
      body .datos .contenedorDeDatos .categorias {
        max-width: 14rem;
        max-height: 14rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
        body .datos .contenedorDeDatos .categorias .p3 {
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          padding-bottom: 1rem;
          color: #686464; }
        body .datos .contenedorDeDatos .categorias a {
          padding-bottom: 1rem;
          display: flex;
          flex-direction: column;
          font-weight: bold;
          font-family: 'Albert Sans', sans-serif;
          text-decoration: none;
          color: black; }
      body .datos .contenedorDeDatos .contactanos {
        max-width: 14rem;
        max-height: 14rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; }
        body .datos .contenedorDeDatos .contactanos p {
          padding-bottom: 1rem;
          font-weight: bold;
          font-family: 'Albert Sans', sans-serif; }
        body .datos .contenedorDeDatos .contactanos .p4 {
          font-family: 'Roboto', sans-serif;
          font-weight: bold;
          color: #686464;
          padding-bottom: 1rem; }
  body .pieDePagina {
    background-color: #998d8d;
    display: flex;
    align-items: center; }
    body .pieDePagina .textoMetodos {
      margin: 2rem;
      font-size: 1.2rem; }
    body .pieDePagina p {
      font-family: font-family "Oswald", sans-serif;
      font-weight: bold;
      color: #303030; }
    body .pieDePagina .tarjetaContenedor {
      display: flex; }
      body .pieDePagina .tarjetaContenedor .tarjeta1 img {
        height: 2rem;
        margin-right: 1.5rem; }
      body .pieDePagina .tarjetaContenedor .tarjeta2 img {
        height: 2rem;
        margin-right: 1rem; }
      body .pieDePagina .tarjetaContenedor .tarjeta3 img {
        height: 2rem;
        margin-right: 1rem; }
      body .pieDePagina .tarjetaContenedor .tarjeta4 img {
        height: 2rem;
        margin-right: 1rem; }
  body .copy {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #998d8d;
    color: #393838;
    font-size: 10px; }
